form input, form select, form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

form label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
}

#booking {
  background: #fffafc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 2rem;
}

.button {
  background: #e1b0c2;
  color: #fff;
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  background: #d09ab2;
}
